<div class="pane pane-container vertical">
    <section class="pane-50 pane-container details-top">
        <form  class="pane pane-container vertical pane-33 bg-primary">
            <h3 class="text-center">Din vurdering!</h3>
            <textarea class="form-control pane fixed-size" autofocus placeholder="Vurdering" rows="4" ng-model="model.comment"></textarea>
            <h1 class="text-center">
                <my-rating class="pane fixed-size" rating="model.rating"></my-rating>
            </h1>
            <rating class="pane" message="model.comment" rating="model.rating"></rating>
            <button class="btn btn-lg btn-block btn-default" ng-click="createRating()"><strong>INDSEND</strong></button>
        </form>
        <section class="pane pane-container vertical ratings" ng-controller="mapsCtrl">
            <leaflet class="pane" markers="markers" center="playgroundCenter"></leaflet>
        </section>
    </section>
    <section class="pane-50 pane-container vertical details-bottom">
        <header class="pane fixed-size padding">
            <h3>{{playground.navn}} <span class="pull-right"><my-rating rating="rating.averageRating" read-only="true"></my-rating></span></h3>
        </header>
        <div class="pane pane-container wrap ratings padding">
            <div class="pane fixed-size rating" ng-repeat="rating in ratings">
                <rating message="rating.comment" rating="rating.rating"></rating>
            </div>
        </div>

    </section>
</div>
<a class="back" ng-href="#/playground/{{playground.id}}"><i class="fa fa-3x fa-close"></i> </a>
