<footer ng-click="showRating(playground)">
    <h3><span>{{playground.navn}}</span><span>{{rating.name}}<my-rating rating="rating.averageRating" read-only="true"></my-rating></span></h3>
    <p>{{playground.adresseBeskrivelse}}</p>
    <p>{{playground.beskrivelse}}</p>
</footer>
