
    <i id="rating1" class="fa fa-fw " ng-click="change(1)" ng-class="{'clickable': !readOnly}"></i>
    <i id="rating2" class="fa fa-fw " ng-click="change(2)" ng-class="{'clickable': !readOnly}"></i>
    <i id="rating3" class="fa fa-fw " ng-click="change(3)" ng-class="{'clickable': !readOnly}"></i>
    <i id="rating4" class="fa fa-fw " ng-click="change(4)" ng-class="{'clickable': !readOnly}"></i>
    <i id="rating5" class="fa fa-fw " ng-click="change(5)" ng-class="{'clickable': !readOnly}"></i>